@{
    Layout = "_GuestLayout";
}

@model int

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_post_container">
                <!-- dati di dettaglio post -->
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">


        axios.get(`/api/pizza/details/${@Model}`).then(res => {
            const pizza  = res.data;
            document.querySelector('.js_post_container').innerHTML +=
                `
                            <div class="col-12 col-md-4 p-2">
                                  <div class="card post h-100">
                                        <img src="${pizza.image}" class="card-img-top" alt="${pizza.title}">
                                        <div class="card-body">
                                        <h5 class="card-title">${pizza.title}</h5>
                                        <p class="card-text">${pizza.description}</p>
                                        <p class="card-text">${pizza.category.title}</p>
                                        <div>
                                            ${pizza.tags.map(item => `<span class="badge bg-primary">#${item.title}</span>`, "").join(' ')}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;
        }).catch(error => console.log(error))
    </script>
}